/* 
    Document   : global
    Created on : Dec 3, 2012, 8:52:08 AM
    Author     : juanma
    Description:
        Purpose of the stylesheet follows.
*/

@import url("fonts/fonts.css");
@import url("blog.css");

/* main structure */
body{
    font-family: "Yanone Kaffeesatz Thin";
    color: #333333;
    margin: 0px;
    background-size: cover;
    background-repeat: no-repeat;
}

#header{
    height: 200px;
}

#content{
    width: 60%;
    margin: auto;
    min-height: 500px;
    display: table;
}
#right-container{
    width: 240px;
    float: right;
}
#left-container{
    width: 650px;
    float: left;
}

#footer{
    margin-top: 100px;
    width: 100%;
    height: 200px;
}
/* header */
#header .container{
    width: 60%;
    margin: auto;
    margin-top: 45px;
}

/* footer */
#footer .container{
    border-top: 1px solid #ddd;
    display: block;
    width: 60%;
    margin: auto;
    color: #333;
    margin-top: 10px;
}
.powered{
    margin: auto;
    text-align: right;
}



/* menu */
#main-menu{
    height: 50px;
    text-align: center;
    width: 50%;
    margin: auto;
    
}
#main-menu a{
    text-decoration: none;
    font-weight: bold;
    color: #666;
    font-size: 20px;
    display: inline-block;
    padding: 5px 10px 5px;
}
#main-menu a:hover{
    color: green;
}

#main-menu ul{
    padding: 0px;
    display: block;
}
#main-menu ul li{
    display: inline;
}

#blogTitle{
    text-align: center;
    height: 60px;
    color: black;
}
#blogTitle span{
    font-size: 50px;
    font-family: "TRASHED";
}

/* home */
#home-posts{
    min-height: 400px;
    padding-bottom: 2px;
}

/* right content */
#links{
    background-color: white;
    box-shadow: 0px 1px 10px #ddd; 
    padding: 10px;
    min-height: 400px;
}
#links a{
    color: green;
}
.link-container{
    margin-top: 10px;
}